input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #fffafa;
    font-size: 16px;
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #999;
    font-size: 16px;
}

input::-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #999;
    font-size: 16px;
}

.body-sidebar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    min-height: 100%;
    width: 85%;
    z-index: 810;
    opacity: 0.6;
}

.right-title {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 5%;
    background: antiquewhite;
}

.search {
    width: 50%;
    background: #0a2b2b;
    height: 100%;
    float: left;
    background-image: linear-gradient(-90deg, rgb(70, 96, 119)0%, rgb(67, 79, 97) 100%);
}

.search form {
    /* margin: 0 auto; */
    position: relative;
    top: 25%;
    left: 20%;
    width: 80%;
}

.search .fa-search {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 18px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.search input {
    width: 200px;
    border-radius: 42px;
    border: 0px;
    background: transparent;
    transition: .3s linear;
    margin-left: 20px;
}

.search button {
    height: 42px;
    width: 42px;
    cursor: pointer;
    position: absolute;
    display: none;
}

.search button::before {
    content: "\f002";
    font-family: FontAwesome;
    color: #324b4e;
}

.search div {
    position: relative;
    float: right;
    right: 10%;
    font-size: 30px;
    line-height: 20px;
}

.switch {
    height: 100%;
    float: right;
    width: 50%;
    background-image: linear-gradient(90deg, rgb(53, 61, 77), rgb(13, 53, 162));
}

.password-table {
    top: 5%;
    position: absolute;
    width: 100%;
    height: 95%;
}

.in {
    height: 30px;
    border-radius: 4px;
}

.getS {
    background: #69Ea7c;
    color: #000;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
}

.getS:HOVER {
    background: #49D44d;
    cursor: pointer;
}

.mesd {
    color: #C12E2A
}

.mesq {
    color: #4CAE4C
}